# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# Android specific
local.properties
**/*.iml
.idea/
.gradle/
build/
gradle/wrapper/gradle-wrapper.jar
